Web Services and Cloud Technologies/03.WCF/05.StringContainer/Service References/StringContainCounter/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PrintContainCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="part" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="container" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintContainCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrintContainCountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>